<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button
        id="partnership-add"
        class="btn btn-outline-secondary"
        type="button"
        data-id="partnership-batch.jsnc3bxd-brazil-jsnc3bxd"
        data-method="insert">
        <i class="fas fa-sm fa-plus"></i></button>
      </button>
    </div>
    <input
      type="text"
      id="property-partnership-name"
      class="form-control"
      placeholder="Enter name of partnership to add"
      spellcheck="false"
      autocomplete="off">
  </div>
</form>